@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --text-color: black;
    --line-height: 1.5;
    --letter-spacing: 2px;
}

body {
    font-family: "Roboto", sans-serif;
    color: 
    var(--text-color);
    line-height: var(--line-height);

}

h1 {
    font-size: 3rem;
    letter-spacing: var(--letter-spacing);
}